@model List<UserInfo>

<input type="text" class="form-control" id="search" placeholder="Search by category Name"/> 


<table id="tableBody" class="table table-bordered table-striped text-center" style="margin-top:20px;height:auto">
                    <thead class="text-uppercase" style="font-weight:bold; font-size:20px;">
                        <tr>
                            <td>Userame </td>
                            <td>Age</td>
                            <td>Address</td>
                            <td>Phone</td>
                            
                        </tr>
                    </thead>
                    <div>
                    <tbody>
                        @foreach(var x in Model)
                        {
                            <tr class="text-center">
                                <td>@x.UserName</td>
                                 <td>@x.Age</td>
                                  <td>@x.Address</td>
                                   <td>@x.Phone</td>
                            </tr>
                        }
                    </tbody>
                    </div>
</table>
                                
<form asp-action="Import" asp-controller="Home" method="POST" enctype="multipart/form-data">
    <div class="form-group">
    <input type="file" class="form-control" id="file" name="file"  required >      
   <input type="submit" class="btn btn-primary" value="Import">
    </div>

</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
 $(function() {

    $("#search").keyup(function(e) {
            var n = $("#search").val();
           
              $.get("/Home/Search?searchString="+n,function(r){
               //update ui with results
               $("#tableBody").html(r);
            });

    });

});
</script>